@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    <li>Name: @ViewData["name"]</li>
    <li>Age: @ViewData["age"]</li>
    <li>ID: @ViewData["id"]</li>
    <li>Test: @ViewData["test"]</li>
</ul>
